
# CHƯƠNG 4: THƯ VIỆN PANDAS - PHẦN BÀI TẬP
---

1. Họ tên học viên: Trịnh Thiên Bảo
2. Email: trinhbao2000@gmail.com
3. MSSV: 1821050426

*Lưu ý: Học viên xem thêm mô tả chi tiết các bài tập trong slide*

## Bài tập 22:
---
**Yêu cầu 1: Học viên đọc dữ liệu dạng CSV lưu trong file Data_Loan.csv với các tham số mặc định**

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}
import pandas as pd
path = 'Data_Excercise\csv_Data_Loan.csv'
data = pd.read_csv(path)
data

**Yêu cầu 2: Đọc dữ liệu từ file Data_Loan.CSV vào 2 biến DataFrame tương ứng**
1. df_number: Chỉ chứa các cột dữ liệu số
2. df_object: Chỉ chứa các cột dữ liệu Object

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}
df_number = data[['loan_amnt','int_rate','emp_length','dti','delinq_2yrs','revol_util','total_acc','bad_loan','longest_credit_length']]
df_number.head()

In [ ]:
df_object = data[['term','home_ownership','purpose','addr_state','verification_status']]
df_object.head()

**Yêu cầu 3: Đọc dữ liệu nhiệt độ của 6 thành phố [Hà Nội, Vinh, Đà Nẵng, Nha Trang, TP Hồ Chí Minh, Cà Mau] từ file Data_Excercise/Temp.txt vào biến DataFrame tương ứng**

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}
df_temp = pd.read_csv('Data_Excercise/Temp.txt',
                     names=['Ha Noi','Vinh','Da Nang','Nha Trang','TP Ho Chi Minh','Ca Mau'],
                     sep='\t',
                     header=None)
                    
df_temp

## Bài tập 23:
--- 
Yêu cầu: Học viên đọc dữ liệu dạng excel lưu trong file excel_Data_Movies.xls theo từng sheet

In [10]:
#{HỌC VIÊN VIẾT CODE Ở ĐÂY}

import pandas as pd
path_excel = 'Data_Excercise\excel_Data_Movies.xls'
data_ex = pd.read_excel(path_excel)
data_ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 25 columns):
Title                          1338 non-null object
Year                           1338 non-null int64
Genres                         1338 non-null object
Language                       1334 non-null object
Country                        1338 non-null object
Content Rating                 1316 non-null object
Duration                       1338 non-null int64
Aspect Ratio                   1308 non-null float64
Budget                         1281 non-null float64
Gross Earnings                 1086 non-null float64
Director                       1338 non-null object
Actor 1                        1338 non-null object
Actor 2                        1338 non-null object
Actor 3                        1336 non-null object
Facebook Likes - Director      1338 non-null int64
Facebook Likes - Actor 1       1338 non-null int64
Facebook Likes - Actor 2       1338 non-null int64
Facebook Likes - Actor 3       1336 non-null float64
Facebook Likes - cast Total    1338 non-null int64
Facebook likes - Movie         1338 non-null int64
Facenumber in posters          1338 non-null int64
User Votes                     1338 non-null int64
Reviews by Users               1338 non-null int64
Reviews by Crtiics             1335 non-null float64
IMDB Score                     1338 non-null float64
dtypes: float64(6), int64(10), object(9)
memory usage: 261.4+ KB

In [11]:
data_ex = pd.read_excel(path_excel,
                         sheet_name='1900s',
                         skiprows=0)
data_ex.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

In [13]:
data_ex = pd.read_excel(path_excel,
                         sheet_name='2000s',
                         skiprows=0)
data_ex.head()

,List Movies from 2000 to 2009,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
3,102 Dalmatians,2000,Adventure|Comedy|Family,English,USA,G,100,1.85,85000000,66941559,...,2000,795,439,4182,372,1,26413,77,84,4.8
4,28 Days,2000,Comedy|Drama,English,USA,PG-13,103,1.37,43000000,37035515,...,12000,10000,664,23864,0,1,34597,194,116,6

In [12]:
data_ex = pd.read_excel(path_excel,
                         sheet_name='2010s',
                         skiprows=0)
data_ex.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,...,11000.0,642.0,223.0,11984.0,63000.0,0.0,279179.0,440.0,450.0,7.6
2,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,795.0,659.0,301.0,1884.0,92.0,0.0,554.0,23.0,20.0,5.2
3,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,NaN,59774.0,...,24.0,20.0,9.0,69.0,2000.0,0.0,4212.0,18.0,76.0,6.8
4,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,...,191.0,12.0,5.0,210.0,0.0,0.0,1138.0,30.0,28.0,7.1

## Bài tập 24:
---
**Yêu cầu 1.1:**
1. Đọc dữ liệu từ file Data_Patient.csv vào biến kiểu dataframe: df_patient với cột đầu tiên (id) là cột chỉ số (index_col)
2. Hiển thị thông tin tổng quan của tập dữ liệu
3. Hiển thị thông tin của 10 bệnh nhân đầu tiên và 5 bệnh nhân cuối cùng của tập dữ liệu.
4. Đặt lại tên các cột dữ liệu trong Dataframe: 
    * Feature_1 --> Age
    * Feature_2 --> Gender
    * Feature_3 --> Type
    * Feature_4 --> Blood_pressure
    * Feature_5 --> Cholesterol
    * Feature_6 --> Heartbeat
    * Feature_7 --> Thalassemia
    * Feature_8 --> Result

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 1.2:**
Sử dụng phương thức .describe() cho biết:
    
    * Thuộc tính Age:
        - Tuổi của bệnh nhân trẻ nhất
        - Tuổi của bệnh nhân già nhất
    * Thuộc tính Cholesterol:
        - Cholesterol trung bình của các bệnh nhân
        - Độ lệch chuẩn của giá trị này trong toàn bộ tập dữ liệu
    * Bao nhiêu bệnh nhân giới tính nam (Male)
    * Có bao nhiêu giá trị khác nhau của thuộc tính Type. Giá trị xuất hiện nhiều nhất là giá trị nào, bao nhiêu lần.

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 1.3:**

Cho biết những cột nào trong dữ liệu có chứa missing data và số lượng missing là bao nhiêu?

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 1.4:**
Hiển thị thông tin của các bệnh nhân: 
   * Bệnh nhân có index: Patient_100; Patient_150; Patient_200
   * Bệnh nhân ở vị trí 255 đến 260, với 3 thuộc tính: Age, Gender và Result

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 1.5:**
1. Thay đổi giá trị cho thuộc tính Gender: Male --> 0, Female --> 1
2. Thay đổi giá trị cho thuộc tính Result: 0 --> No, 1 --> Yes
3. Cập nhật giá trị thuộc tính Thalassemia của bệnh nhân có index: Patient_05 bằng giá trị 4.0

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

# Bài tập 25:
---
**Yêu cầu 1.1:**
1. Đọc dữ liệu từ file Data_Patient.csv vào biến kiểu dataframe: df_patient với cột feature_1 là cột chỉ số (index_col)
2. Đặt lại tên các cột dữ liệu trong Dataframe: 
    * Feature_1 --> Age
    * Feature_2 --> Gender
    * Feature_3 --> Type
    * Feature_4 --> Blood_pressure
    * Feature_5 --> Cholesterol
    * Feature_6 --> Heartbeat
    * Feature_7 --> Thalassemia
    * Feature_8 --> Result

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 2.2:**
Lọc dữ liệu trong df_patient thành các DataFrame:
    * df_male: chứa danh sách bệnh nhân Nam
    * df_female: chứa danh sách bệnh nhân nữ
    * df_no: danh sách những người không bị bệnh đau tim
    * df_yes: danh sách những người bị bệnh đau tim

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 2.3:**
Lọc trong df_patient dưa ra danh sách bệnh nhân thỏa mãn yêu cầu sau:
1. Những người bị mắc bệnh đau tim và trên 70 tuổi
2. Người có giới tính Female, có huyết áp trên 170 mmhg nhưng không bị bệnh đau tim.
3. Những người có triệu chứng đau ngực là Typical angina, giới tính Male và bị bệnh đau tim.

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 2.4:** Xác định:
1. Chỉ số huyết áp (Blood_pressure) thấp nhất, cao nhất, trung bình, trung vị và độ lệch chuẩn của tập dữ liệu
2. Chỉ số nhịp tim (Heartbeat) thấp nhất, cao nhất, trung bình, trung vị và độ lệch chuẩn của tập dữ liệu

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

**Yêu cầu 2.5: Xác định:**
1. Số giá trị khác nhau của thuộc tính Type
2. Vẽ đồ thị dạng cột thể hiện kết quả thống kê số lượng theo từng giá trị khác nhau của thuộc tính Type

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}

## Bài tập 26:
---
* Đọc dữ liệu từ file Data_Patient.csv
* Cho biết các cột chứa giá trị khuyết thiếu, xác định các vị trí thiếu dữ liệu và đề xuất phương án xử lý giá trị thiếu.
* Phát hiện giá trị ngoại lai và xử lý trong dữ liệu (nếu có)

In [ ]:
#{HỌC VIÊN VIẾT CODE XỬ LÝ Ở ĐÂY}